/testdata

# These files will invalidate the cache but are not important for the build process
Dockerfile
.gitignore
.dockerignore

# Dependencies
/node_modules/
/.pnp/
.pnp.js
.yarn/install-state.gz

# Build artifacts
/build/
/dist/
/out/

# Logs
*.log
