services:
  synapse:
    image: ghcr.io/element-hq/synapse:develop
    entrypoint: python
    command: "-m synapse.app.homeserver -c /config/homeserver.yaml"
    volumes:
      - ./testdata/synapse:/config
      - ./testdata/synapse.data:/media-store

  mas:
    image: ghcr.io/element-hq/matrix-authentication-service:latest
    ports:
      - "8007:8007"
    volumes:
      - ./testdata/mas/config.yaml:/config.yaml:ro

  nginx:
    image: nginx:latest
    ports:
      - "8008:8008"
    volumes:
      - ./testdata/nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro

  synapse-admin-prod:
    image: ghcr.io/etkecc/synapse-admin

  element:
    image: docker.io/vectorim/element-web:latest
    depends_on:
      synapse:
        condition: service_healthy
        restart: true
    ports:
      - "8080:8080"
    volumes:
      - ./testdata/element/nginx.conf:/etc/nginx/nginx.conf:ro
      - /dev/null:/etc/nginx/conf.d/default.conf:ro
      - ./testdata/element/config.json:/app/config.json:ro

  postgres:
    image: postgres:17-alpine
    volumes:
      - ./testdata/postgres.data:/var/lib/postgresql/data
      - ./testdata/postgres.initdb:/docker-entrypoint-initdb.d:ro
    environment:
      POSTGRES_USER: synapse
      POSTGRES_PASSWORD: synapse
      POSTGRES_DB: synapse
      POSTGRES_INITDB_ARGS: "--lc-collate C --lc-ctype C --encoding UTF8"
